* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .text-container {
    max-width: 100%;
    min-width: 100%;
    padding: 0;
  }
  body {
    background-image: url("/images/richmond_skyline.jpg");
    background-size: auto, 1400px;
    background-repeat: repeat, no-repeat;
    max-width: 650px;
    margin: 20px auto;
  }
  main {
    background-color: rgba(128, 104, 131, 1);
    background-image: none;
    height: auto;
    margin: 0 auto;
  }
}

body {
  background-image: linear-gradient(to bottom, rgba(128, 104, 131, 0.1) 10%, rgba(128, 104, 131, 1) 15%), url("/images/richmond_skyline.jpg");
  background-size: auto, 1800px;
  background-repeat: repeat, no-repeat;
  max-width: 650px;
  margin: 20px auto;
}

.homebody {
  background-image: url("/images/richmond_skyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 650px;
  margin: 20px auto;
}

.gallerybody {
    background-image: linear-gradient(to bottom, rgba(128, 104, 131, 0.1) 10%, rgba(128, 104, 131, 1) 12%), url("/images/richmond_skyline.jpg");
    background-size: auto, 1800px;
    background-repeat: repeat, no-repeat;
    max-width: 650px;
    margin: 20px auto;
  }

header {
  text-align: center;
}

.site-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  color: rgb(20, 20, 20);
  margin-bottom: 0.02em;
}

h2 {
  color: rgb(20, 20, 20);
}

h3 {
  font-weight: 400;
}

#header-logo {
  height: 40%;
  width: 40%;
}

.navmenu {
  max-width: 65%;
  margin: auto;
}

a {
  color: black;
  font-weight: 600;
}

hr {
  margin-top: 4em;
  margin-bottom: 4em;
  border-top: 0.5em solid rgb(20, 20, 20);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.no-padding-bottom {
  margin-bottom: 0;
}

.no-padding-top {
  margin-top: 0;
}

.searchbar {
  text-align: center;
  width: 90%;
  height: 5em;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}


label {
  /*float: left;*/
  font-weight: 600;
  font-size: 1.5rem;
  display: inline-block;
}

input {
  padding: 1rem;
  width: 60%;
  display: inline-block;
  /*clear: left;*/
}

button {
  display: inline-block;
  padding: 0.7rem;
  border: 0.5em solid rgb(20, 20, 20);
  border-radius: 0.2em;
  /*clear: left;*/
}

.socialbar {
  text-align: center;
}

.social-icon {
  margin-right: 1em;
  box-shadow: 0 10px 10px 0 rgba(20, 20, 20, 0.2);
}

.skinny {
  margin-top: 4em;
  margin-bottom: 4em;
  border-top: 0.2em solid rgb(20, 20, 20);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.partial-width {
  width: 75%;
}

/* bookselling page styles */

main {
  background-image: linear-gradient(to bottom, hsla(300, 9%, 89%, 30%) 5%, hsla(300, 9%, 89%, 0%) 20%);
  height: auto;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  height: auto;
  align-items: center;
  margin: 0 auto;
  padding: 2em 3em;
}

.project-desc {
  font-weight: 600;
}

.white {
  color: #d4cdd5;
}

.dark {
  color: #2d232e;
}

.text-container {
  padding-right: 4em;
  max-width: 50%;
}

.image-container {
}

#movie-club-poster-pic {
  width: 100%;
}

/* gallery */

 .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
  justify-content: center;
}

.gallery img {
  width: 75%;
  height: auto;
  padding: 1rem;
  transition: .5s;
}

.gallery img:hover {
  filter: drop-shadow(4px 4px 6px black);
  transform: scale(1.5);
}

.gallery img:

footer {
  margin: 0 auto 40em auto;
  text-align: center;
  padding-bottom: 5em;
}

.footer-info {
  display: flex;
  align-items: center;
  margin-right: 1em;
  justify-content: center;
  font-weight: 600;
}

.filler {
  height: 3em;
}
